<html>
  <head>
    <title>Exif DB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
      function downloadImage(href) {
          var downloadLink = document.createElement('a');
          downloadLink.href = href;
          downloadLink.download = href.split('/').pop();
          document.body.appendChild(downloadLink);
          downloadLink.click();
          document.body.removeChild(downloadLink);
      }

      function deleteImage(href, button) {
        if (confirm('Are you sure you want to delete this image?')) {
          fetch('/api/image?path=' + href, {
            method: 'DELETE'
          })
          .then(response=>{
            if (!response.ok) {
              throw new Error('Network response was not ok. Status: ' + response.status);
            }
            return response.json()
          })
          .then(data => {
            console.log('Success:', data);
            button.closest('.image-container').remove();
          })
          .catch((error) => {
            console.log(error)
            alert(error);
          })
        }
      }
    </script>
  </head>
  <body style="background-color:#000">
    <div
      style="display:flex;justify-content:center;align-items:center;gap:5px;margin:10px;"
    >
      <button
        onclick="window.location.href='/random'"
        style="border:2px solid #ddd;"
      >
        Random photos
      </button>
      <button
        onclick="window.location.href='/onthisday'"
        style="border:2px solid #ddd;"
      >
        Photos from this date
      </button>
    </div>
    {% for im in images %}
    <div class="image-container">
      <img
        src="{{ im['src'] }}"
        alt="{{ im['path'] }}"
      />
      <div class="badge">
        <span>{{ im['date'] }}</span>
        <span>{{ im['title'] }}</span>
        <button
          onclick="downloadImage('{{ im['path'] }}')"
          title="Download original"
        >
          <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
        </button>
        <button
          onclick="deleteImage('{{ im['path'] }}', this)"
          title="Permanent delete"
        >
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    {% endfor %}
  </body>
</html>
