
<html>
  <head>
    <title>Exif DB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/kiosk.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
      let currentIndex = 0;
      let timeoutId = undefined;
      let images = {{ images | tojson }};

      function deleteImage(button) {
        // protect against race condition if image refreshes while waiting
        // for user confirmation
        const deleteIndex = currentIndex;
        const path = images[deleteIndex].SourceFile;
        if (confirm('Are you sure you want to delete this image?')) {
          fetch(
            `/api/image${path}`, {
            method: 'DELETE'
          })
          .then(response=>{
            if (!response.ok) {
              throw new Error('Network response was not ok. Status: ' + response.status);
            }
            return response.json()
          })
          .then(data => {
             // remove image from list
             images.splice(deleteIndex, 1);
             // get a new one
             refreshImage();
          })
          .catch((error) => {
            console.log(error)
            alert(error);
          })
        }
      }

      function refreshImage() {
        currentIndex += 1;
        currentIndex = currentIndex % images.length;
        let image = images[currentIndex];
        const tempImg = new Image();
        tempImg.src = `/api/image${image.SourceFile}`;
        // When it loads, swap it in
        tempImg.onload = () => {
          // fade transition
          let im = document.getElementById("img");
          im.classList.add("hidden");
          // fade back in after transition time
          setTimeout(() => {
            im.src = tempImg.src;
            im.classList.remove("hidden");
            document.getElementById("date").textContent = image.date;
          }, 200)
        };

        // cancel existing timeout in case the user pressed fast forward
        if (timeoutId !== undefined) {
          clearTimeout(timeoutId);
        }
        // reload after defined interval
        timeoutId = setTimeout(refreshImage, {{ refresh_secs * 1000 }});
      }

      // Load the image once on page load
      refreshImage();
    </script>
  </head>
  <body style="background-color:#000">
    <div class="image-container">
      <img
        id="img"
      style="height:100%;width:100%"
      />
      <div class="badge">
        <span id="date"></span>
        <span></span>
        <button
          onclick="deleteImage(this)"
          title="Permanent delete"
        >
          <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
        </button>
        <button
          onclick="refreshImage()"
          title="Next image"
        >
          <i class="fa fa-fast-forward fa-2x" aria-hidden="true"></i>
          <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
        </button>        
      </div>
    </div>
  </body>
</html>
